<!-- <app-sidebar class="sidebar_menu"></app-sidebar> -->
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        <ion-menu-button auto-hide="false">
          <img src="././assets/Icons/ic_menu.png">
        </ion-menu-button>
      </ion-button>
    </ion-buttons>
    <ion-title class="dashobard_title">Notification</ion-title>
  </ion-toolbar>
</ion-header>
<!-- <app-sidebar class="sidebar_menu"></app-sidebar> -->
<ion-content>
  <ion-list>
    <ion-item>
      <div class="notification_icon">
        <ion-img src="/assets/Icons/ic_noti_blue.png"></ion-img>
      </div>
      <div class="user_details">
        <ion-label>Admin</ion-label>
        <ion-label>New Event Posted by Admin...</ion-label>
      </div>

      <div class="delete_icon">
        <p>12 hours ago</p>
        <ion-img src="/assets/Icons/ic_delete_blue.png"></ion-img>
      </div>
    </ion-item>
    <ion-item>
      <div class="notification_icon">
        <ion-img src="/assets/Icons/ic_noti_blue.png"></ion-img>
      </div>
      <div class="user_details">
        <ion-label>Admin</ion-label>
        <ion-label>New Event Posted by Admin...</ion-label>
      </div>

      <div class="delete_icon">
        <p>12 hours ago</p>
        <ion-img src="/assets/Icons/ic_delete_blue.png"></ion-img>
      </div>
    </ion-item>
    <ion-item>
      <div class="notification_icon">
        <ion-img src="/assets/Icons/ic_noti_blue.png"></ion-img>
      </div>
      <div class="user_details">
        <ion-label>Admin</ion-label>
        <ion-label>New Event Posted by Admin...</ion-label>
      </div>

      <div class="delete_icon">
        <p>12 hours ago</p>
        <ion-img src="/assets/Icons/ic_delete_blue.png"></ion-img>
      </div>
    </ion-item>
    <ion-item>
      <div class="notification_icon">
        <ion-img src="/assets/Icons/ic_noti_blue.png"></ion-img>
      </div>
      <div class="user_details">
        <ion-label>Admin</ion-label>
        <ion-label>New Event Posted by Admin...</ion-label>
      </div>

      <div class="delete_icon">
        <p>12 hours ago</p>
        <ion-img src="/assets/Icons/ic_delete_blue.png"></ion-img>
      </div>
    </ion-item>
    <ion-item>
      <div class="notification_icon">
        <ion-img src="/assets/Icons/ic_noti_blue.png"></ion-img>
      </div>
      <div class="user_details">
        <ion-label>Admin</ion-label>
        <ion-label>New Event Posted by Admin...</ion-label>
      </div>

      <div class="delete_icon">
        <p>12 hours ago</p>
        <ion-img src="/assets/Icons/ic_delete_blue.png"></ion-img>
      </div>
    </ion-item>
  </ion-list>
</ion-content>