<ion-app>
  <ion-menu side="start" content-id="main-content">
    <div class="sidebar">
      <ion-header no-border>
        <ion-toolbar translucent class="drover_header">
          <ion-title>
            <ion-avatar>
              <img class="profile_image" src='https://s3.amazonaws.com/uifaces/faces/twitter/adhamdannaway/128.jpg'>
            </ion-avatar>
            <div class="profile_des">
              <span>{{this.firstName}}</span>
              <p>{{this.email}}</p>
            </div>
          </ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list lines="none">
          <ion-item class="focues" [routerLink]="['/profile']">
            <ion-img src="/assets/Icons/ic_profile.png" slot="start" style="width: 7%;"></ion-img>
            <ion-label style="color: white;">Profile</ion-label>
          </ion-item>
          <ion-item>
            <ion-img src="/assets/Icons/ic_home.png" slot="start" style="width: 7%;"></ion-img>
            <ion-label [routerLink]="['/dashboard']" routerDirection="root" style="color: white;">Home</ion-label>
          </ion-item>
          <ion-item>
            <ion-img src="/assets/Icons/ic_message.png" slot="start" style="width: 7%;"></ion-img>
            <ion-label [routerLink]="['/message']" routerDirection="root" style="color: white;">Messages</ion-label>
          </ion-item>
          <ion-item>
            <ion-img src="/assets/Icons/ic_noti_black.png" slot="start" style="width: 7%;"></ion-img>
            <ion-label [routerLink]="['/notification']" routerDirection="root" style="color: white;">Notification</ion-label>
          </ion-item>
          <ion-item>
            <ion-img src="/assets/Icons/ic_plus_black.png" slot="start" style="width: 7%;"></ion-img>
            <ion-label (click)="someAction()" style="color: white;">Invite Friends</ion-label>
          </ion-item>
          <ion-item>
            <ion-img src="/assets/Icons/ic_setting_black.png" slot="start" style="width: 7%;"></ion-img>
            <ion-label [routerLink]="['/setting']" routerDirection="root" style="color: white;">Settings</ion-label>
          </ion-item>
          <ion-item>
            <ion-img src="/assets/Icons/ic_logout_black.png" slot="start" style="width: 7%;"></ion-img>
            <ion-label [routerLink]="['/home']" routerDirection="root" style="color: white;">Logout</ion-label>
          </ion-item>
        </ion-list>
      </ion-content>
    </div>
  </ion-menu>

  <div class="ion-page" id="main-content">

  </div>
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button>
          <ion-menu-button auto-hide="false">
            <img src="././assets/Icons/ic_menu.png">
          </ion-menu-button>
        </ion-button>
      </ion-buttons>
      <ion-title class="dashobard_title">Organize Activity</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-app>