<ion-app>

  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <a class="backbtn_img" [routerLink]="['/activity-detail']" ><img src="/assets/Icons/ic_back.png"></a>
        <!-- <ion-back-button text="" [routerLink]="['/dashboard']" defaultHref="dashboad" styl></ion-back-button> -->
        </ion-buttons>

      <ion-title class="dashobard_title" text-center>List of Participants</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item>
        <div class="PARTICIPANTS-list">
          <ion-img src="../assets/image/profile.png" slot="start"></ion-img>
          <ion-label>Aabb Bbbb</ion-label>
        </div>  
      </ion-item>

      <ion-item>
        <div class="PARTICIPANTS-list">
          <ion-img src="../assets/image/profile-2.png" slot="start"></ion-img>
          <ion-label>Aabb Bbbb</ion-label>
        </div>  
      </ion-item>
      <ion-item>
        <div class="PARTICIPANTS-list">
          <ion-img src="../assets/image/profile.png" slot="start"></ion-img>
          <ion-label>Aabb Bbbb</ion-label>
        </div>  
      </ion-item>
      <ion-item>
        <div class="PARTICIPANTS-list">
          <ion-img src="../assets/image/profile-2.png" slot="start"></ion-img>
          <ion-label>Aabb Bbbb</ion-label>
        </div>  
      </ion-item>
      <ion-item>
        <div class="PARTICIPANTS-list">
          <ion-img src="../assets/image/profile.png" slot="start"></ion-img>
          <ion-label>Aabb Bbbb</ion-label>
        </div>  
      </ion-item>
      <ion-item>
        <div class="PARTICIPANTS-list">
          <ion-img src="../assets/image/profile-2.png" slot="start"></ion-img>
          <ion-label>Aabb Bbbb</ion-label>
        </div>  
      </ion-item>
    </ion-list>
     <div class="forgetbtn">
          <ion-button class="button_forget" expand="block">
            <h6><strong [routerLink]="['/setting']">Message</strong></h6>
          </ion-button>
        </div>
  </ion-content>

 
</ion-app>