ion-content.forgetpassword {
    --background: none;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom left;
    }
    ion-content.forgetpassword {
    background: !important;
    background-color: linear-gradient(90deg, rgba(18,18,235,1) 52%, rgba(0,41,255,0.7161239495798319) 100%);
    background: linear-gradient(178deg, rgba(18,18,235,1) 17%, rgba(183, 197, 252, 0.27) 53%);
    }
    .button_pass {
    width: 96px;
    height: 92px;
    background: -webkit-gradient(linear, left top, left bottom, from(#0032ea), color-stop(90%, #ffe000));
    background: linear-gradient(to bottom, #0032ea 0%, #ffe000 90%);
    display: block;
    margin: 0px auto 32px;
    border-radius: 14px;
    }
    .backhome_signup {
    padding-top: 29%;
    }
    ion-title.password_title {
    font-size: 24px;
    line-height: 44px;
    color: #000000;
    text-align: center;
    }
    .email ion-button {
    margin-top: 20px;
    }
    
    .email {
    width: 100%;
    padding: 70px 39px 20px;
    text-align: center;
    }
    .button_home {
    width: 100px;
    height: 100px;
    background:linear-gradient(to bottom, #0032ea 0%, #e9da6c 100%);
    display: block;
    margin: 0px auto 32px;
    border-radius: 8px;
    }
    
    
    ion-button.button_forget {
    height: 58px;
    --background: none;
    background: -webkit-gradient(linear, left top, left bottom, from(#0032ea), to(#e9da6c));
    background: linear-gradient(to , #0032ea 0%, #e9da6c 100%);
    
    border-radius: 67px;
    overflow: hidden;
    }
    .forgetbtn ion-button.button_forget {
    box-shadow: 2px 5px 16px 2px #00000045;
    
    background: linear-gradient(to right, #0032ea -12% , #fadf01d6 82%);
    }
    .login {
    padding-top: 38px;
    text-align: center;
    
    }
    ion-item.email_text{

    border-radius: 6px;
    }
    .forgetbtn {
    width: 100%;
    padding: 0px 32px 0px;
    text-align: center;
    }
    input.native-input {
    margin-left: 10px !important;;
    }
    img.mail_icn {
    width: 21px;
    margin-right: 31px;
    }
    a.login_color {
    color: #2a43d0;
    text-decoration: none;
    }