<ion-app>
  <ion-menu side="start" content-id="main-content">
    <div class="sidebar">
      <ion-header>
        <ion-toolbar translucent class="drover_header">
          <ion-title>
            <ion-avatar>
              <img class="profile_image" src='https://s3.amazonaws.com/uifaces/faces/twitter/adhamdannaway/128.jpg'>
            </ion-avatar>
            <div class="profile_des">
              <!-- <span>Aaaa Baaa</span>
              <p>test123@gmail.com</p> -->
              <span>{{this.firstName}}</span>
              <p>{{this.email}}</p>
            </div>
          </ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list lines="none">
          <ion-menu-toggle>
            <ion-item class="focues">
              <ion-img src="/assets/Icons/ic_profile.png" slot="start" style="width: 7%;"></ion-img>
              <ion-label [routerLink]="['/profile']" class="my_txt">Profile</ion-label>
            </ion-item>
            <ion-item>
              <ion-img src="/assets/Icons/ic_home.png" slot="start" style="width: 7%;"></ion-img>
              <ion-label [routerLink]="['/dashboard']" routerDirection="root" class="my_txt">Home</ion-label>
            </ion-item>
            <ion-item>
              <ion-img src="/assets/Icons/Icon metro-search.png" slot="start" style="width: 7%;"></ion-img>
              <ion-label [routerLink]="['/browse']" routerDirection="root" class="my_txt">Browse</ion-label>
            </ion-item>
            <ion-item>
              <ion-img src="/assets/Icons/ic_message.png" slot="start" style="width: 7%;"></ion-img>
              <ion-label [routerLink]="['/message']" routerDirection="root" class="my_txt">Messages</ion-label>
            </ion-item>
            <ion-item>
              <ion-img src="/assets/Icons/ic_noti_black.png" slot="start" style="width: 7%;"></ion-img>
              <ion-label [routerLink]="['/notification']" routerDirection="root" class="my_txt">Notification</ion-label>
            </ion-item>
            <ion-item>
              <ion-img src="/assets/Icons/ic_plus_black.png" slot="start" style="width: 7%;"></ion-img>
              <ion-label (click)="someAction()" class="my_txt">Invite Friends</ion-label>
            </ion-item>
            <ion-item>
              <ion-img src="/assets/Icons/ic_setting_black.png" slot="start" style="width: 7%;"></ion-img>
              <ion-label [routerLink]="['/setting']" routerDirection="root" class="my_txt">Settings</ion-label>
            </ion-item>

            <ion-item>
              <ion-img src="/assets/Icons/ic_logout_black.png" slot="start" style="width: 7%;"></ion-img>
              <ion-label [routerLink]="['/login']" routerDirection="root" class="my_txt">Logout</ion-label>
            </ion-item>
          </ion-menu-toggle>

        </ion-list>
      </ion-content>
    </div>
  </ion-menu>
  <div class="ion-page" id="main-content">
  </div>
  <ion-router-outlet main animated="false"></ion-router-outlet>
</ion-app>