<ion-app>

  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-img src="/assets/Icons/ic_back.png" slot="start" style="width: 20%;"></ion-img>
      </ion-buttons>

      <ion-title class="dashobard_title">list of participants</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item>

        <!-- <ion-img src="/assets/Icons/ic_change_pwd.png" slot="start" style="width: 7%;"></ion-img> -->
        <ion-label>Aabb Bbbb</ion-label>
      </ion-item>
      <ion-item>
        <!-- <ion-img src="/assets/Icons/ic_contact_us.png" slot="start" style="width: 7%;"></ion-img> -->
        <ion-label>Aabb Bbbb</ion-label>
      </ion-item>
      <ion-item>
        <!-- <ion-img src="/assets/Icons/ic_terms_conditions.png" slot="start" style="width: 7%;"></ion-img> -->
        <ion-label>Aabb Bbbb</ion-label>
      </ion-item>
      <ion-item>
        <!-- <ion-img src="/assets/Icons/ic_privacy.png" slot="start" style="width: 7%;"></ion-img> -->
        <ion-label>Aabb Bbbb</ion-label>
      </ion-item>
      <ion-item>
        <!-- <ion-img src="/assets/Icons/ic_delete_grey.png" slot="start" style="width: 7%;"></ion-img> -->
        <ion-label>Aabb Bbbb</ion-label>
      </ion-item>
      <ion-item>
        <!-- <ion-img src="/assets/Icons/ic_logout_grey.png" slot="start" style="width: 7%;"></ion-img> -->
        <ion-label>Aabb Bbbb</ion-label>
      </ion-item>
    </ion-list>
     <div class="forgetbtn">
          <ion-button class="button_forget" expand="block">
            <h6><strong [routerLink]="['/setting']">Message</strong></h6>
          </ion-button>
        </div>
  </ion-content>

 
</ion-app>