<ion-content class="forgetpasswordotp">
  <div class="backhome_signup">
    <div class="button_pass">
      <!-- <ion-button class="button_home" expand="block"></ion-button> -->
    </div>
    <ion-title class="password_title">
      FORGOT PASSWORD
    </ion-title>
  </div>
  <!-- Input with placeholder -->

  <div class="email">
    <ion-item class="email_text" lines="none">
      <ion-input [(ngModel)]="this.otp" placeholder="Enter OTP" type="number" pattern="/^-?\d+\.?\d*$/" onKeyPress="if(this.value.length==4) return false;">
        <img class="mail_icn" src="../../assets/Icons/ic_mail.png">
      </ion-input>
    </ion-item>
    <ion-item class="email_text" lines="none">
      <ion-input [(ngModel)]="this.newPass" placeholder="New Password" type="password" maxlength="8">
        <img class="mail_icn" src="../../assets/Icons/ic_pwd.png">
      </ion-input>
    </ion-item>
    <ion-item class="email_text" lines="none">
      <ion-input [(ngModel)]="this.confirmPass" placeholder="Confirm Password" type="password" maxlength="8">
        <img class="mail_icn" src="../../assets/Icons/ic_pwd.png">
      </ion-input>
    </ion-item>

  </div>
  <div class="forgetbtn">
    <ion-button (click)="submit()" class="button_forget" expand="block">
      <h6><strong>Submit</strong></h6>
    </ion-button>
  </div>
  <div class="login">
    Back to <span> <a class="login_color" [routerLink]="['/login']">Login</a> </span>
  </div>

</ion-content>